<!DOCTYPE html>
<html lang="pt-BR">
<%- include('partials/head.ejs') %>
  
<body class="top-espaco">
  <%- include('partials/navbar.ejs') %>

  <header>
    <div class="container py-4">
      <div class="row align-items-center">
        <div class="col-md-6 col-12 mb-3 mb-md-0">
          <h1 class="titulo text-center">Quem Somos</h1>
        </div>
        <div class="col-md-6 col-12 text-md-end">
          <img src="/img/studio.jpg" alt="Imagem do Estúdio" class="img-fluid border rounded img-titulo object-fit-fill">
        </div>
      </div>
    </div>
  </header>

  <main>
    <section class="bg-cor3">
      <div class="container py-4">
        <h3 class="text-center"><em>Mais de 200 alunos já transformaram suas rotinas com o Harmonia Studio</em></h3>
        <img src="/img/pilates2.jpg" class="img-fluid mx-auto d-block" alt="Pessoas praticando pilates">
        <br>
        <blockquote class="text-center"><em>"O Harmonia Studio é simplesmente incrível — ambiente acolhedor, profissionais excelentes e aulas que realmente fazem a diferença na minha saúde e bem-estar!" - Luana R., aluna desde jan/2022</em></blockquote>
        <blockquote class="text-center"><em>"Me apaixonei pelas aulas! O ambiente é tranquilo e os profissionais são super atenciosos." - Pedro M., aluno desde set/2020</em></blockquote>
      </div>
    </section>
    
    <section class="py-4">
      <div class="container">
        <h2 class="display">O Studio</h2>
        <p> Somos um estúdio de Pilates dedicado a promover bem-estar, saúde e qualidade de vida por meio de práticas seguras, acolhedoras e personalizadas. No Harmonia Studio, acreditamos que o equilíbrio entre corpo e mente é essencial para uma vida saudável. Ao longo da nossa trajetória, construímos uma comunidade sólida e comprometida — são mais de 5 anos de experiência e cuidado com cada aluno que passa por aqui.</p>
        <p>Nossa equipe é formada por profissionais qualificados, comprometidos em oferecer um atendimento humanizado e programas de treinamento que respeitam os limites e objetivos de cada aluno. Aqui, cada movimento é feito com propósito, cada evolução é celebrada, e cada pessoa é única.</p>
        <h4 class="text-center">Venha fazer parte desse espaço de harmonia, cuidado e transformação!</h4>
        <img src="/img/pilates1.jpg" class="img-fluid mx-auto d-block" alt="Pessoas praticando pilates">
      </div>
    </section>
  </main>

  <%- include('partials/footer.ejs') %>
</body>
</html>
