<!DOCTYPE html>
<html lang="pt-BR">
  <%- include('partials/head.ejs') %>

<body class="top-espaco">
  <%- include('partials/navbar.ejs') %>

  <header>
    <div class="container py-4">
      <div class="row align-items-center">
        <div class="col-md-6 col-12 mb-3 mb-md-0">
          <h1 class="titulo text-center">Treinos</h1>
        </div>
        <div class="col-md-6 col-12 text-md-end">
          <img src="/img/treino.jpg" alt="Pessoa treinando pilates" class="img-fluid border rounded img-titulo object-fit-fill">
        </div>
      </div>
    </div>
  </header>

  <main>
    <section class="bg-cor3">
      <div class="container py-4">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h2 class="display">Nossos treinos</h2>
            <p>No Harmonia Studio, cada treino é cuidadosamente elaborado para atender às necessidades e objetivos individuais de nossos alunos. Combinando técnicas do Pilates Clássico e Contemporâneo, oferecemos aulas que promovem: equilíbrio, fortalecimento muscular, melhora da postura e alívio de dores.</p>
            <p>Independentemente do seu nível - iniciante ou avançado - nossos treinos são adaptados para proporcionar uma experiência segura, eficiente e transformadora. Aqui, você encontra um espaço acolhedor, profissionais qualificados e um método que respeita o seu ritmo.</p>
          </div>
          <div class="col-md-4 text-end">
            <img src="../img/treino2.jpg" alt="Treino no estúdio" class="img-fluid rounded">
          </div>
        </div>
        <div class="row align-items-center p-4">
          <div class="col-md-8">
            <h4>Benefícios dos Nossos Treinos</h4>
            <div class="feature"><i class="bi bi-check"></i>Fortalecimento do core (abdômen, lombar, pelve e glúteos)</div>
            <div class="feature"><i class="bi bi-check"></i>Aprimoramento da postura e da consciência corporal</div>
            <div class="feature"><i class="bi bi-check"></i>Aumento da flexibilidade e da mobilidade articular</div>
            <div class="feature"><i class="bi bi-check"></i>Alívio de tensões e dores musculares</div>
            <div class="feature"><i class="bi bi-check"></i>Prevenção de lesões e reabilitação funcional</div>
            <div class="feature"><i class="bi bi-check"></i>Melhora do equilíbrio, coordenação e controle motor</div>
            <br>
            <h4>Diferenças do Harmonia Studio</h4>
            <div class="feature"><i class="bi bi-check"></i>Acompanhamento individualizado com profissionais experientes</div>
            <div class="feature"><i class="bi bi-check"></i>Aulas dinâmicas e adaptadas para todas as idades e níveis</div>
            <div class="feature"><i class="bi bi-check"></i>Estrutura equipada com aparelhos modernos e acessórios variados</div>
            <div class="feature"><i class="bi bi-check"></i>Ambiente acolhedor e com foco no bem-estar de cada aluno</div>
          </div>
          <div class="col-md-4 text-end p-4">
            <img src="../img/treino3.jpg" alt="Treino no estúdio" class="img-fluid rounded">
          </div>
        </div>
      </div>
    </section>

    <section class="container py-4">
      <h2 class="display">Algumas de Nossas Especialidades</h3>
    </section>

    <section id="mat-pilates">
      <div class="container">
        <h3>Mat pilates</h2>
        <p>O Mat Pilates, também conhecido como Pilates Solo, é uma modalidade que utiliza apenas o peso do próprio corpo e acessórios como bolas, faixas elásticas, círculos e rolos. Realizado no solo, sobre um colchonete (mat), esse método trabalha o corpo de forma global, promovendo fortalecimento muscular, flexibilidade, equilíbrio e controle postural.</p>
        <p>Os exercícios são executados com foco na respiração, no alinhamento corporal e no fortalecimento do centro do corpo — também conhecido como “powerhouse”, que inclui abdômen, lombar, pelve e glúteos. Além de ser acessível e eficaz, o Mat Pilates é uma excelente opção para quem busca melhorar a consciência corporal, prevenir lesões e aliviar dores, especialmente na coluna.</p>
        <p>É uma prática segura, que pode ser adaptada a diferentes níveis de condicionamento físico e necessidades individuais. No Harmonia Studio, você conta com profissionais qualificados para orientar cada movimento com atenção e cuidado.</p>
        <img src="/img/treino4.jpg" class="img-fluid mx-auto d-block" alt="Pessoas praticando pilates">
      </div>
      <br>
    </section>

    <section id="reformer-aparelho">
      <div class="container">
        <h3>Reformer Pilates</h2>
        <p>O Reformer Pilates é uma das modalidades mais conhecidas e completas do método Pilates. Utiliza um equipamento chamado Reformer, que possui molas ajustáveis, alças, trilhos e uma plataforma deslizante. Esse aparelho permite uma ampla variedade de exercícios, trabalhando força, flexibilidade, coordenação e equilíbrio de forma integrada.</p>
        <p>Com o suporte e a resistência das molas, o Reformer proporciona um treino dinâmico e desafiador, ao mesmo tempo em que reduz o impacto nas articulações. É uma excelente opção tanto para iniciantes quanto para alunos mais avançados, pois os exercícios podem ser adaptados de acordo com o nível de condicionamento físico e os objetivos de cada pessoa.</p>
        <p>No Harmonia Studio, as aulas de Reformer são conduzidas por profissionais experientes, que garantem a execução correta dos movimentos e o máximo aproveitamento de cada sessão. Ideal para quem busca resultados visíveis, melhora da postura, alívio de dores e um corpo mais consciente e fortalecido.</p>
        <img src="/img/treino5.jpg" class="img-fluid mx-auto d-block" alt="Pessoas praticando pilates">
      </div>
      <br>
    </section>

    <section id="idoso-terapeutico">
      <div class="container">
        <h3>Pilates para Melhor Idade</h2>
        <p>O Pilates é uma prática extremamente benéfica para pessoas na melhor idade, pois trabalha o corpo de forma segura, suave e eficaz. Por meio de exercícios que fortalecem os músculos, melhoram a flexibilidade e estimulam o equilíbrio, o método ajuda a manter a autonomia, prevenir quedas e aliviar dores articulares ou musculares comuns nessa fase da vida.</p>
        <p>Além dos benefícios físicos, o Pilates também contribui para o bem-estar emocional, promovendo relaxamento, foco e autoestima. As aulas são adaptadas de acordo com as necessidades e limitações de cada pessoa, respeitando o ritmo individual e garantindo segurança em todos os movimentos.</p>
        <p>No Harmonia Studio, acolhemos cada aluno com carinho e atenção. Nossos profissionais são qualificados para oferecer uma experiência positiva e transformadora, ajudando você a se movimentar com mais confiança, leveza e qualidade de vida.</p>
        <img src="/img/idoso.jpg" class="img-fluid mx-auto d-block" alt="Pessoas praticando pilates">
      </div>
      <br>
    </section>


  </main>

  <%- include('partials/footer.ejs') %>
</body>
</html>
