<footer class="bg-cor1 text-center text-light p-4">
  <div>
      <img src="../img/logo-ofc.png" alt="Logo Harmonia Studio" class="img-fluid w-15 rounded logo-transition">
  </div>

  <div class="row">
    <div class="col-lg-6">
      <br>
      <h3>NÃO PERCA TEMPO!</h3>
      <p class="lead">Está pronto(a) para iniciar sua jornada no Pilates?</p>
      <p>Participe de uma aula experimental e sinta a diferença no seu corpo e mente!</p>
      <a href="/agendarAula" class="btn button-red btn-transition">Agende aula experimental</a>
      <br>
      <img src="../img/clique.gif" alt="" class="w-15">
    </div>

    <div class="col-lg-6">
      <div class="contact-info p-4">
        <h5>Visite Nosso Studio</h5>
        <p>
          Rua Castelo Branco 113
          <br> Bairro Centro
          <br> Aguaí, SP
        </p>
        <h5>Contatos</h5>
        <p>
          Telefone: (19) 3652-8975 
          <br> Celular: (19) 99236-5574 
          <br> Email: harmoniastudio@gmail.com
        </p>
        <h5>Horário de Funcionamento</h5>
        <p>
          Segunda - Sábado: 8:00 - 16:00
        </p>
      </div>
    </div>
  </div>
  <hr class="border-light">
  <p>&copy;2025 Todos os direitos reservados</p>
  <p>Harmonia Studio</p>
</footer> 
