<nav class="navbar navbar-expand-lg fixed-top bg-cor2">
    <div class="container">
      
      <!-- Logo + Nome -->
      <a class="navbar-brand d-flex" href="/">
        <img src="/img/logo.png" alt="Logo" class="rounded-circle img-logo">
        <div class="d-flex flex-column ms-2">
          <span class="fs-2 fs-lg-1 text-logo1 hide-under-320">HARMONIA</span>
          <span class="fs-6 fs-lg-5 text-center text-logo2 hide-under-320">STUDIO</span>
        </div>
      </a>

      <button
        class="navbar-toggler nav-cor3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item me-lg-5">
            <a class="nav-link nav-link d-block navbar-item-color fs-5 fs-lg-4" href="/quem-somos">Quem Somos</a>
            </a>
          </li>
          <li class="nav-item me-lg-5">
            <a class="nav-link nav-link d-block navbar-item-color fs-5 fs-lg-4" href="/treinos">Treinos</a>
          </li>
          <li class="nav-item me-lg-5">
            <a class="nav-link nav-link d-block navbar-item-color fs-5 fs-lg-4" href="/agendarAula">Agendar Aula</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>